# Environment variables
.env

# Virtual environment
.venv/
venv/
.qa-venv/

# PostgreSQL data
postgres/data/

# ClickHouse runtime data
click-house/data/

# Airflow logs
airflow/logs/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
